Scouting (Internal Prospecting Workflow)
{
  "name": "Scout #1 - Internal Prospecting (Unified)",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300],
      "notes": "Runs daily at 9 AM — adjust schedule as needed in this node."
    },
    {
      "parameters": {
        "url": "https://api.crunchbase.com/v3.1/odm-organizations?query=Series%20A&user_key=YOUR_CRUNCHBASE_KEY"
      },
      "id": "2",
      "name": "Crunchbase API (Example)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [500, 200],
      "notes": "Replace URL with your actual Crunchbase API endpoint & key."
    },
    {
      "parameters": {
        "url": "https://feeds.feedburner.com/TechCrunch/startups"
      },
      "id": "3",
      "name": "RSS Feed Example",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [500, 400],
      "notes": "Replace this RSS feed URL with relevant industry feeds for your prospects."
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "4",
      "name": "Merge Crunchbase + RSS",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [750, 300],
      "notes": "Combines Crunchbase and RSS results into one unified list for scoring."
    },
    {
      "parameters": {
        "batchSize": 5
      },
      "id": "5",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [950, 300],
      "notes": "Adjust batch size if hitting API rate limits during enrichment."
    },
    {
      "parameters": {
        "url": "https://api.clay.com/enrich",
        "options": {}
      },
      "id": "6",
      "name": "Clay API Enrichment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1150, 300],
      "notes": "Replace with actual Clay.com API endpoint and authentication."
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": [
          {
            "role": "system",
            "content": "You are an assistant that scores potential client leads for fit with the agency's internal ideal client profile."
          },
          {
            "role": "user",
            "content": "Given this company data: {{$json}}, return a JSON object with: relevance_score (0-100), ai_justification, recommendation ('Proceed' or 'Skip'). Ideal client profile: B2B SaaS, climate, finance leaders, Series A-C funding."
          }
        ]
      },
      "id": "7",
      "name": "AI Relevance Scoring",
      "type": "n8n-nodes-base.openAiChat",
      "typeVersion": 1,
      "position": [1350, 300],
      "notes": "Edit the 'Ideal client profile' text above to match your actual targeting."
    },
    {
      "parameters": {
        "functionCode": "const score = $json.relevance_score || 0;\nif (score >= 75) {\n  return [{ json: $json }];\n} else {\n  return [];\n}"
      },
      "id": "8",
      "name": "Gate by Score",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1550, 300],
      "notes": "Change '75' in the code to adjust the score threshold."
    },
    {
      "parameters": {
        "operation": "create",
        "application": "",
        "table": "Prospects",
        "fields": {
          "Company Name": "={{$json.company_name}}",
          "Contact Name": "={{$json.contact_name}}",
          "Contact Email": "={{$json.contact_email}}",
          "LinkedIn": "={{$json.linkedin_url}}",
          "Funding Stage": "={{$json.funding_stage}}",
          "Industry": "={{$json.industry}}",
          "Relevance Score": "={{$json.relevance_score}}",
          "AI Justification": "={{$json.ai_justification}}",
          "Status": "Discovered"
        }
      },
      "id": "9",
      "name": "Push to Airtable (Prospects)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [1750, 300],
      "credentials": {
        "airtableApi": "YOUR_AIRTABLE_API_KEY"
      },
      "notes": "Maps enriched and scored leads into your 'Prospects' table in Airtable."
    },
    {
      "parameters": {
        "operation": "create",
        "application": "",
        "table": "Error Log",
        "fields": {
          "Error Message": "={{$json.error}}",
          "Source URL": "={{$json.source_url}}"
        }
      },
      "id": "10",
      "name": "Log Skipped Leads (Map Later)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [1750, 500],
      "notes": "Map this to your Error Log table later if you want to store skipped leads."
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Crunchbase API (Example)", "type": "main", "index": 0 },
                { "node": "RSS Feed Example", "type": "main", "index": 0 }]]
    },
    "Crunchbase API (Example)": { "main": [[{ "node": "Merge Crunchbase + RSS", "type": "main", "index": 0 }]] },
    "RSS Feed Example": { "main": [[{ "node": "Merge Crunchbase + RSS", "type": "main", "index": 1 }]] },
    "Merge Crunchbase + RSS": { "main": [[{ "node": "Split In Batches", "type": "main", "index": 0 }]] },
    "Split In Batches": { "main": [[{ "node": "Clay API Enrichment", "type": "main", "index": 0 }]] },
    "Clay API Enrichment": { "main": [[{ "node": "AI Relevance Scoring", "type": "main", "index": 0 }]] },
    "AI Relevance Scoring": { "main": [[{ "node": "Gate by Score", "type": "main", "index": 0 }]] },
    "Gate by Score": { "main": [[{ "node": "Push to Airtable (Prospects)", "type": "main", "index": 0 },
                                 { "node": "Log Skipped Leads (Map Later)", "type": "main", "index": 0 }]] }
  }
}
